body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #8c5fb1, #b46fd4);
    height: 200px;
    width: 100%;
}
.titulos{
    font-size: xx-large;
    font-family:monospace;
}
input[type="text"] {
    display: block;
    margin: 0 auto;
    margin-bottom:3px;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    border: none;

}
input[type="button"] {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(123, 206, 151);
  border: none ;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
sup{
    font-size:small;
}
